.login-form {
    margin: 90px 0;
}
.login-form h1 {
    text-align: center;
}
.form-box {
    border: 1px solid black;
    padding: 25px 40px 50px;
    background-color: black;
}
.form-box h2 {
    text-align: center;
    margin: 20px 0;
    color: #fff;
}
.form-box label {
    display: block;
    color: #fff;
}
.form-control:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn-primary.focus, .btn-primary:focus {
    outline: 0;
    border-color: #ced4da;
    box-shadow: none;
}
.button {
    text-align: center;
    margin: 30px 0 0;
}
.button input {
    background-color: #fff;
    color: black;
    border: 1px solid black;
    padding: 7px 30px;
}
.button input:hover, .button input:active, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: black;
    color: #fff;
    border: 1px solid #fff;
}