.login-form {
    margin: 90px 0;
}
.login-form h1 {
    text-align: center;
}
.form-box {
    border: 1px solid black;
    padding: 25px 40px 10px;
    background-color: black;
    box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.form-box h2 {
    text-align: center;
    margin: 20px 0;
    color: #fff;
}
.form-box label {
    display: block;
    color: #fff;
}
.form-control:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn-primary.focus, .btn-primary:focus {
    outline: 0;
    border-color: #ced4da;
    box-shadow: none;
}
.button {
    text-align: center;
    margin: 30px 0 0;
}
.button input {
    background-color: #fff;
    color: #333333;
    border: 1px solid #333333;
    padding: 7px 30px;
}
.button input:hover, .button input:active, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #333333;
    color: #fff;
    border: 1px solid #fff;
}
.p-login {
    color: white;
        margin-top: 15px;
}

.p-a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}