footer {
    padding: 10px 0px;
    background-color: #dbdbdb;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
    color: #8e8e8e;
    font-family: 'Cambo', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

footer p a {
    color: #454545;
}

footer p a:hover {
    text-decoration: none;
    color: #454545;
}

.credits {
    float: right;
}

.footerContent {
    text-align: center;
}